@charset "utf-8";

/* base style */

body{
  font-family: 'Noto Sans JP', "sans-serif";
  background-color: #eee;
}

h1{
  margin: 0;
}

.header,.footer{
  width: 100%;
  height: auto;
  background-color: #ffa500;
}

a{
  color: #000
}

@media screen and (max-width:767px) {
  .header,.footer{
    height: auto;
  }
}

/* container */

.container{
  max-width: 1300px;
  padding: 4%;
  margin: 1% auto;
}

.header-container{
  padding: 0;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footer-container{
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width:767px) {
  .flex-container{
    flex-direction: column;
  }
}

/* section */

.section{
  margin: 30px 0;
}

.section-headline{
  font-size: 30px;
  text-transform: uppercase;
  border-left: 10px solid #fa8072 ;
  padding-left: 6px;
}

/* @media screen and (max-width:767px) {
  .section-headline{
    text-align: center;
  }
} */

/* header */

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 80px;
}

.header-headline-pc{
  display: block;
}
.header-headline-sp{
  display: none;
}

@media screen and (max-width:767px) {
  .header-container{
    flex-direction: column;
    line-height: 50px;
  }
  .header-headline{
    margin: 0 auto;
  } 
  
  .header-headline-pc{
    display: none;
  }
  .header-headline-sp{
    display: block;
    padding-top: 10px;
  }
}

/* nav */

.nav{
  line-height: 80px;
}

.nav-list{
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-list-item{
  list-style: none;
  padding: 0 20px;
}
.nav-list-item > a{
  color: #000;
  text-decoration: none;
  display: block;
}

@media screen and (max-width:767px) {
  .nav{
    line-height: normal;
  }
  .nav-list{
    justify-content: center;
    height: 40px;
  }
}

/* pickup */

.pickup-container{
  padding: 2%;
  margin: 1% auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px #999;
  text-align: center;
}

.pickup-container .section-headline{
  text-align: left;
}

.pickup-container img{
  width: 50%;
  margin: 0 auto;
}

.pickup-container a{
  text-decoration: none;
  display: block;
}

.pickup-headline{
  margin: 0;
  padding: 20px 0;
}

.slider{
  visibility: hidden;
}
.slider.slick-initialized{
  visibility: visible;
}

@media screen and (max-width:767px) {
  .pickup-container{
    width: 95%;
    margin: 1% auto;
  }
  .pickup-container img{
    width: 100%;
  }
}

/* main */

.main{
  width: 70%;
  padding: 2%;
  margin: 1%;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px #999;
}

@media screen and (max-width:767px) {
  .main{
    width: 95%;
    margin: 1% auto;
  }
}


/* about */

.about{
  display: flex;
  flex-direction: row;
}

.about-headline{
  margin: 0 0 5px 0;
}

.about-image{
  width: auto;
  height: 200px;
  padding: 20px;
}

.about-text{
  margin: 0;
}

.about-link-list{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.about-link-list-item{
  font-size: 14px;
  list-style: none;
}

@media screen and (max-width:767px) {
  .about{
    flex-direction: column;
  }
  .about-headline{
    text-align: center;
    font-size: 30px;
  }
  .about-image{
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
  .about-text-box{
    width: auto;
    height: auto;
  }
  .about-link-list{
    justify-content: center;
  }
}

/* work */

.work-lang{
  border-left: 8px solid #1e90ff;
  padding-left: 6px;
  font-size: 24px;
}


/* scratch */

.scratch-card-box{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.scratch-card-box::after{
  content:"";
  display: block;
  width: 30%;
  padding: 11px;
}

.scratch-card{
  padding: 10px;
  margin: 10px 0;
  width: 49%;
  border: 1px solid #999;
  border-radius: 10px;
  transition: background-color .25s;
  display: block;
}

.scratch-card > a{
  color:#000;
  text-decoration: none;
  display: block;
}

.scratch-name{
  border-left: 6px solid #32cd32;
  padding-left: 6px;
  font-size: 20px;
}

.scratch-image{
  width: 100%;
  height: auto;
}

.scratch-text{
  padding: 5px;
}
.scratch-card-label{
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .scratch-card-box{
    flex-direction: column;
  }
  .scratch-card{
    width: 100%;
  }
  .scratch-text-pc{
    display: none;
  }
  .scratch-text-sp{
    display: block;
  }
}

/* scratch-video ver */

.scratch-card2{
  width: 100%;
}

.scratch-card-assets{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.scratch-image2{
  width: 49%;
  height: auto;
}

.scratch-card-video{
  width: 49%;
  height: auto;
}

.scratch-text-pc{
  display: block;
  padding-top: 15px;
}
.scratch-text-sp{
  display: none;
}

@media screen and (max-width:767px) {
  .scratch-card2{
    width: 100%;
  }
  .scratch-card-assets{
    flex-direction: column;
  }
  .scratch-image2{
    width: 100%;
    padding-bottom: 10px;
  }
  .scratch-card-video{
    width: 100%;
    height: 200px;
  }
  .scratch-text-pc{
    display: none;
  }
  .scratch-text-sp{
    display: block;
  }
}

/* hc */

.hc-list{
  padding-left: 40px;
}

.hc-list-item{
  list-style: none;
}
.hc-list-item a{
  color: #000;
}

.hc-name{
  border-left: 6px solid #32cd32;
  padding-left: 6px;
  font-size: 20px;
}
.hc-name > a{
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .hc-list{
    padding:0;
  }
}

/* button */

.work-button{
  width: 200px;
  height: 50px;
  background-color: #333;
  border: 1px solid #333;
  line-height: 50px;
  font-size: 20px;
  margin: 30px auto;
  text-align: center;
  border-radius: 10px;
}
.work-button:hover{
  opacity: 0.6;
}
.work-button > a{
  color: #fff;
  text-decoration: none;
  display: block;
}

/* aside */

.aside{
  width: 30%;
  padding: 2%;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px 0px #999;
}

.aside-list,
.aside-lang-list,
.aside-scratch-list,
.aside-hc-list{
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;
}

.aside-list-item,
.aside-lang-list-item,
.aside-scratch-list-item,
.aside-hc-list-item{
  list-style: none;
  border-bottom: 5px solid #fff;
}

.aside-list-item:last-child{
  border-bottom: 1px solid #fa8072;
}
.aside-lang-list-item:last-child{
  border-bottom: 1px solid #1e90ff;
}
.aside-scratch-list-item:last-child,
.aside-hc-list-item:last-child{
  border-bottom: 1px solid #32cd32;
}


.aside-list-item a{
  padding: 3%;
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: #fff;
}

.aside-list-item{
  background-color: #fa8072;
}
.aside-lang-list-item{
  margin-left: 10px;
  background-color: #1e90ff;
}
.aside-scratch-list-item,
.aside-hc-list-item{
  margin-left: 10px;
  background-color: #32cd32;
}

.aside-list-item a:hover{
  opacity: 0.8;
}

@media screen and (max-width:767px) {
  .aside{
    width: 95%;
    margin: 1% auto;
  }
}

/* footer */

.footer-headline-pc{
  display: block;
}
.footer-headline-sp{
  display: none;
}

.footer-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 80px;
}

.footer-copy{
  text-align: center;
  display: block;
  padding: 15px;
}

@media screen and (max-width:767px) {
  .footer-header{
    flex-direction: column;
    line-height: 50px;
  }
  .footer-headline{
    margin: 0 auto;
  }

  .footer-headline-pc{
    display: none;
  }
  .footer-headline-sp{
    display: block;
    padding-top: 10px
  }
  .footer-copy{
    padding: 0 15px 15px 15px;
  }
}